.button {
    padding: 12px 0;
    display: flex;
    justify-content: flex-start;
    width: 344px;
    margin: 0;
    border: none;
    background: inherit;
    cursor: pointer; 
    background-origin: content-box;
}

.button_rigth {
    justify-content: flex-end;
}