.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 57px;
  width: 100%;
  max-width: 1376px;
}

.section_text_container {
  display: flex;
  flex-direction: column;
  gap: 54px;
  padding: 0 8px;
  max-width: 859px;
  box-sizing: border-box;
}

.section_text_title {
  color: #7884A5;
  font-size: 72px;
  line-height: 70px;
  margin: 0;
}

.section_text_description {
  color: #292E3D;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .section {
    gap: calc(57px - ((1024px - 100vw) * 40/704));
    /* 57-17=40 Изменение количества пикселей
    1024-320=704 Первое разрешение минус второе */
  }

  .section_text_title {
    font-size: calc(72px - ((1024px - 100vw) * 22/704));
    /* 72-50=22 Изменение количества пикселей
    1024-320=704 Первое разрешение минус второе */
  }

  .section_text_container {
    gap: calc(54px - ((1024px - 100vw) * 37/704));
    /* 54-17=37 Изменение количества пикселей
    1024-320=704 Первое разрешение минус второе */
  }
}